{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublier | eyes contact{% endblock %}

{% block body %}

<div class="container mx-auto">
 <h1 class="font-inria-serif text-4xl text-center mb-16 text-blue-login"> Réinitialisez votre Mot de passe </h1>
 <p class="font-inria-serif text-center mb-14"> Veuillez entrer votre adresse de messagerie. Nous vous enverrons un courriel pour réinitialiser votre mot de passe.  </p>

    <form action="{{ path('app_login') }}" method="post" class="flex flex-col justify-center ">

        <div class="flex flex-row">
            <div class="w-full">
                <label class="control-label" for="username">Email:</label>
                <input class="control-input" type="text" id="username" name="_username" />
            </div>
        </div>
        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}
        <div class="flex flex-col mt-20 gap-8 justify-center text-center ">
            <button class="btn-primary" type="submit">Envoyer</button>
            <div class="px-4">
                <a class="btn-secondary" href={{path('app_login')}}>Annuler</a>
            </div>
        </div>

        
    </form>
</div>

{% include 'footer/footer.html.twig' %}
{% endblock %}
