{% extends 'base.html.twig' %}

{% block title %} Eyes Contact | inscription{% endblock %}

{% block body %}

<div class="wrapper container mx-auto">
    <div class="title-head"><h1><span class="title">Inscription</span><br/><span class="title2">Création d'un compte</span></h1></div>

    <p class="text-form">Veuillez remplir les informations afin de créer un compte Eyes Contact.</p>

    <div class="form-content">

            <div class=" container mt-20">
                {% for message in app.flashes('success') %}
                    <div class="bg-green-200 border-spacing-1 text-green-900 mb-8">
                        {{ message }}
                    </div>
                {% endfor %}
        
                {{ form_start(form,{'attr': {'class':'w-full'}}) }}
        
                 {{ form_errors(form) }}
        
                <div class="flex flex-row  gap-56 mb-5 justify-between ">
                    <div class="w-full">
                        {{ form_label(form.prenom, 'Prénom', { 'label_attr': {'class':'control-label'}}) }}
                        {{ form_widget(form.prenom, { 'attr': {'class':'control-input'}}) }}
                    </div>
                    <div class="w-full">
                        {{ form_label(form.nom, 'Nom de Famille', { 'label_attr': {'class':'control-label'}}) }}
                        {{ form_widget(form.nom, { 'attr': {'class':'control-input'}}) }}
                    </div>
                    <div class="w-full">
                        {{ form_label(form.email, 'Email', { 'label_attr': {'class':'control-label'}}) }}
                        {{ form_widget(form.email, { 'attr': {'class':'control-input'}}) }}
                    </div>
                </div>
        
                <div class="flex  flex-row gap-56 mt-5 mb-16 justify-between ">
                    
                    <div class="w-full">
                        {{ form_label(form.mobile, 'Mobile', { 'label_attr': {'class':'control-label'}}) }}
                        {{ form_widget(form.mobile, { 'attr': {'class':'control-input'}}) }}
                    </div>
                    <div class="w-full">
                        {{ form_label(form.password, 'Mot de passe', { 'label_attr': {'class':'control-label'}}) }}
                        {{ form_widget(form.password, { 'attr': {'class':'control-input'}}) }}
                    </div>
                    <div class="w-full">
                        {{ form_label(form.passwordConfirm, 'Confirmation du mot de passe', { 'label_attr': {'class':'control-label'}}) }}
                        {{ form_widget(form.passwordConfirm, { 'attr': {'class':'control-input'}}) }}
                    </div>
                  
    
                </div>
    
            <p class="text-form">Informations pour la livraison</p>

            <div class=" container mt-20">
                {% for message in app.flashes('success') %}
                    <div class="bg-green-200 border-spacing-1 text-green-900 mb-8">
                        {{ message }}
                    </div>
                {% endfor %}
        
                {{ form_start(form,{'attr': {'class':'w-full'}}) }}
        
                 {{ form_errors(form) }}
        
                <div class="flex flex-row  gap-56 mb-5 justify-between ">
                    <div class="w-full">
                        {{ form_label(form.domicile, 'Domicile', { 'label_attr': {'class':'control-label'}}) }}
                        {{ form_widget(form.domicile, { 'attr': {'class':'control-input'}}) }}
                    </div>
                    <div class="w-full">
                        {{ form_label(form.city, 'Ville', { 'label_attr': {'class':'control-label'}}) }}
                        {{ form_widget(form.city, { 'attr': {'class':'control-input'}}) }}
                    </div>
                </div>
        
                <div class="flex  flex-row gap-56 mt-5 mb-16 justify-between ">
                    <div class="w-full">
                        {{ form_label(form.number_domicile, 'Numéro de domicile', { 'label_attr': {'class':'control-label'}}) }}
                        {{ form_widget(form.number_domicile, { 'attr': {'class':'control-input'}}) }}
                    </div>
                    <div class="w-full">
                        {{ form_label(form.postal_code, 'Code Postal', { 'label_attr': {'class':'control-label'}}) }}
                        {{ form_widget(form.postal_code, { 'attr': {'class':'control-input'}}) }}
                    </div>
                  
    
                </div>

                <div class="form-content">
                    <p>Veuillez confirmez afin de recevoir des bons plans promo par email et SMS</p>
                    <p>En cliquant sur inscription, j'accepte les conditions d'utilisation générales d'adhésion de Eyes Contact.</p>
                </div>
    
            <div class=" container flex-row mt-20 gap-8 form-content">

                <a class="btn-secondary" href="/">Annuler</a>
                <button class="btn-primary">{{ button_label|default('Envoyer') }}</button>
            </div>
            {{ form_end(form) }}
        </div>



    </div>
</div>

</div>

{% block footer %}

    {% include "/footer/footer.html.twig" %}

{% endblock footer %}

{% endblock %}

