{% extends 'base.html.twig' %}

{% block title %} Eyes Contact | Nous contactez{% endblock %}

{% block body %}

<div class="container mx-auto mt-4">

    <h1 class="font-inria-serif text-4xl text-center md:text-left">Contact</h1>
    <p class="font-inria-serif mt-8 text-center md:text-left">Pour toutes questions et informations, veuillez nous contacter afin de vous répondre au mieux.</p>
    
    <div class="mt-20">
        {% for message in app.flashes('success') %}
            <div class="bg-green-200 border-spacing-1 text-green-900 mb-8">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(form,{'attr': {'class':'w-full'}}) }}

         {{ form_errors(form) }}

        <div class="flex  flex-col md:flex-row  gap-14 mb-5 justify-between">
            <div class="flex-col w-full  ">
                {{ form_label(form.prenom, 'Prénom :', { 'label_attr': {'class':'control-label'}}) }}
                {{ form_widget(form.prenom, { 'attr': {'class':'control-input'}}) }}
            </div>
            <div class="flex-col w-full  ">
                {{ form_label(form.nom, 'Nom :', { 'label_attr': {'class':'control-label'}}) }}
                {{ form_widget(form.nom, { 'attr': {'class':'control-input'}}) }}
            </div>
        </div>

        <div class="flex flex-col w-full  md:flex-row gap-14 mb-16 justify-between ">
            <div class="w-full  md:mt-0">
                {{ form_label(form.email, 'Adresse email :', { 'label_attr': {'class':'control-label'}}) }}
                {{ form_widget(form.email, { 'attr': {'class':'control-input'}}) }}
            </div>
            <div class="w-full  md:mt-0">
                {{ form_label(form.telephone, 'Numéro de mobile :', { 'label_attr': {'class':'control-label'}}) }}
                {{ form_widget(form.telephone, { 'attr': {'class':'control-input'}}) }}
            </div>
        </div>

        <div class="w-full ">
            {{ form_label(form.message, 'Votre message :', { 'label_attr': {'class':'control-label'}}) }}
            {{ form_widget(form.message, { 'attr': {'class':'control-input'}}) }}
        </div>
       

        <div class="flex flex-row mt-20 gap-8 justify-center md:justify-start">
            <button class="btn-primary">{{ button_label|default('Envoyer') }}</button>
        </div>
        {{ form_end(form) }}
    </div>


</div>


</div>

{% include 'footer/footer.html.twig' %}
{% endblock %}
