<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">


        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('images/favicon/site.webmanifest')}} ">
        <link rel="mask-icon" href="{{ asset('images/favicon/safari-pinned-tab.svg')}}" color="#075d78">
        <meta name="msapplication-TileColor" content="#075d78">
        <meta name="theme-color" content="#ffffff">


        <title>{% block title %}EYES CONTACT |{% endblock %}</title>
        
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}


    </head>
    <body>
        {# Navbar #}
        {{ render(controller(
        'App\\Controller\\NavbarController::index'
        )) }}

        {# Content #}
        {% block body %}{% endblock %}

        
    </body>
</html>
